<header class="topbar">
  <div class="topbar-left">
    <img style="width: 180px;" src="assets/icon/LogoGestionAvisosLargo.png" alt="Logo" class="logo">
  </div>
  <div class="topbar-center">
    <div class="search-bar">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input type="text" placeholder="Buscar aquí..." />
    </div>
  </div>
  <div class="topbar-right user-info">
    <span class="welcome">Bienvenido,</span>
    <span class="username">Juan</span>
    <span class="avatar"></span>
  </div>
</header>
