<aside class="sidebar">
  <nav class="sidebar-menu">
    <a routerLink="/home" routerLinkActive="active"><ion-icon name="grid-outline" class="icon"></ion-icon>Inicio</a>
    <a routerLink="/avisos" routerLinkActive="active"><ion-icon name="notifications-outline" class="icon"></ion-icon>Avisos</a>
    <a routerLink="/historial" routerLinkActive="active"><ion-icon name="time-outline" class="icon"></ion-icon>Historial</a>
    <a routerLink="/inventario" routerLinkActive="active"><ion-icon name="cube-outline" class="icon"></ion-icon>Inventario</a>
    <a routerLink="/facturas" routerLinkActive="active"><ion-icon name="document-text-outline" class="icon"></ion-icon>Facturas</a>
    <a routerLink="/presupuestos" routerLinkActive="active"><ion-icon name="cash-outline" class="icon"></ion-icon>Presupuestos</a>
    <a routerLink="/clientes" routerLinkActive="active"><ion-icon name="people-outline" class="icon"></ion-icon>Clientes</a>
  </nav>
  <div class="sidebar-footer">
    <a routerLink="/ajustes" routerLinkActive="active"><ion-icon name="settings-outline" class="icon"></ion-icon>Ajustes</a>
    <a routerLink="/cuenta" routerLinkActive="active"><ion-icon name="person-circle-outline" class="icon"></ion-icon>Mi cuenta</a>
  </div>
</aside>
